@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

:root {
  --bg: #FCF9FC;
  --purple: #8B4FD9;
  --text-one: #2E2E2E;
  --text-two: oklch(38.416% 0.02677 259.186);
  --bg-footer: #2E2E2F;
  --Fredoka: 'Fredoka';
  --Quicksand: 'Quicksand';
}

.dark {
  --bg: #1b1b1b;
  --text-one: #fff;
  --text-two: #C8C6C4;


}
.btnn{
  @apply transition-all duration-300 ease-in-out
}

.btnn:hover {
  @apply scale-105
}


@theme {
  --color-purple: var(--purple);
  --color-text-one: var(--text-one);
  --color-text-two: var(--text-two);
  --color-bg: var(--bg);
  --color-bg-footer: var(--bg-footer);
  --font-Fredoka: var(--Fredoka);
  --font-Quicksand: var(--Quicksand);
}

.padding {
  @apply px-4 py-4 md:px-[120px]
}
.p{
  @apply px-4 py-12  md:px-[120px]
}

.active {
  color: #8B4FD9;
  font-weight: bold;
}

a{
  transition: all .3s;
}

a:hover{
  color: #8B4FD9;
}

.card{
  @apply border-[20px] border-white dark:border-[#2e2e2e] rounded-4xl overflow-hidden h-[400px] shadow-md
}